<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-car-heading" data-cy="CarCreateUpdateHeading" jhiTranslate="crudApp.crudCar.home.createOrEditLabel">
        Criar ou editar Car
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="crudApp.crudCar.year" for="field_year">Year</label>
          <input type="number" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="crudApp.crudCar.licensePlate" for="field_licensePlate">License Plate</label>
          <input
            type="text"
            class="form-control"
            name="licensePlate"
            id="field_licensePlate"
            data-cy="licensePlate"
            formControlName="licensePlate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="crudApp.crudCar.model" for="field_model">Model</label>
          <input type="text" class="form-control" name="model" id="field_model" data-cy="model" formControlName="model" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="crudApp.crudCar.color" for="field_color">Color</label>
          <input type="text" class="form-control" name="color" id="field_color" data-cy="color" formControlName="color" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="crudApp.crudCar.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
