<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="car">
      <h2 data-cy="carDetailsHeading"><span jhiTranslate="crudApp.crudCar.detail.title">Car</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ car.id }}</span>
        </dd>
        <dt><span jhiTranslate="crudApp.crudCar.year">Year</span></dt>
        <dd>
          <span>{{ car.year }}</span>
        </dd>
        <dt><span jhiTranslate="crudApp.crudCar.licensePlate">License Plate</span></dt>
        <dd>
          <span>{{ car.licensePlate }}</span>
        </dd>
        <dt><span jhiTranslate="crudApp.crudCar.model">Model</span></dt>
        <dd>
          <span>{{ car.model }}</span>
        </dd>
        <dt><span jhiTranslate="crudApp.crudCar.color">Color</span></dt>
        <dd>
          <span>{{ car.color }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/crud/car', car.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
